@tailwind base;
@tailwind components;
@tailwind utilities;

#sidebar{
	width: 240px;
	margin-left: -100%;
}

.z-60{
  z-index: 60 !important;
}

.scrollleft-hidden::-webkit-scrollbar{
	display: none;
}
.scrollleft-hidden{
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.scrollleft-hidden > div{
	width: 2100px;
}
.item-music:hover .play-icon{
	display: block;
}

progress::-webkit-progress-value{
	background-color: white;
}

@media screen and (max-width: 639px){
	#container, #navbar{
		margin-left: 0 !important;
	}
	#navbar > .float-right{
		margin-right: 0 !important;
	}
}
@media screen and (min-width: 640px){
	#sidebar{
		margin-left: 0 !important;
	}
	#container, #navbar{
		margin-left: 240 !important;
	}
}

@media (prefers-reduced-motion: no-preference) {
  .music-spin {
    animation: music-spin infinite 3s linear;
  }
}

@keyframes music-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

input[type="range"] {
	-webkit-appearance: none;
	outline: none;
	transition: opacity .2s;
	border-radius: 20px;
	height: 10px;
	width: 100%;
	background: white;
}
input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	cursor: pointer;
	background: #34D399;
}
input[type="range"]::-moz-slidngeer-thumb{
	width: 25px;
	height: 25px;
	border-radius: 50%;
	cursor: pointer;
	background: #34D399;
}